@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
#center{
    height: 100vh;
    text-align: center;
    align-content: center;
}

h1{
    color: red;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}